    <div class="container">
        <div id="main" class="row">
            <div id="sideBar" class="col-sm-3 border border-dark  text-center">
                <h1>Code.X Chat</h1>
                <hr class="line">
                <h6>Online Users:</h6>
                <hr class="line">
                <ul class="users">

                </ul>
            </div>
            <div id="mainArea" class="col-sm-8 border border-dark"> <!-- Chat box -->
                <div class="chat-container">
                    <div class="chat-box">



                    </div>
                    <form id="chatInput">
                        <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off"/>
                        <button id="sendBtn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>