<div class="row">
  <div id="login-fields" class="col-sm-5 text-center">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="login-email">Email:</label>
        <input class="form-input" type="text" id="login-email" />
      </div>
      <div class="form-group">
        <label for="login-password">Password:</label>
        <input class="form-input" type="password" id="login-password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  
  <div id="signup-fields" class="col-sm-5 text-center">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="github-signup">GitHub :</label>
        <input class="form-input" type="text" id="github-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>