<div id="projectContainer">

<div id="filt">Languages</div>
<div id="list">
  <table>
    <thead class="hide">
      <tr><th>ID</th><th>Lang</th><th>Projects</th></tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/projecttwo.js"></script>


