<div class="container" id="language-boxes">

</div>
<div>
  <button type="button">Confirm</button>
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/project.js"></script>