<div class="container" id="language-boxes">
  {{!-- <input type="checkbox">
  <label id="language_1">{{language_1}}</label>
  <input type="checkbox">
  <label id="language_1">{{language_1}}</label> --}}
</div>
<div id="btn-container">
  <button type="button" id="confirm-btn">Confirm</button>
</div>

<div id="projectContainer">

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/project.js"></script>