{{!-- <div class="container" id="language-boxes">

</div>
<div id="btn-container">
  <button type="button" id="confirm-btn">Confirm</button>
</div>

<div id="projectContainer">

</div> --}}

<div id="projectContainer">

<div id="filt">Languages</div>
<div id="list"><table><thead><tr><th>Project</th></thead>
<tbody></tbody></table</tdiv>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/projecttwo.js"></script>

</div>
