body {
    background-color: rgb(170, 167, 167);
}

.header {
    background-color: purple;
    font-size: 20px;
    font-weight: 600;
}

.nav-link{
    color: white;
}

.title {
    font-size: 50px;
}

main {
    padding-top: 50px;
}

#sideBar {
    background-color: rgb(149, 158, 235);
    border-radius: 20px;
    margin-right: 20px;
    padding: 10px;
}

#mainArea {
    background-color: rgb(149, 158, 235);
    border-radius: 20px;
    height: 500px;
}

.chat-container {
    align-items: flex-start;
    margin-top: 25px;
}

.chat-box {
    background-color: white;
    height: 400px;
    padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
    
}

#chatInput {
    margin-top: 20px;
}

#msg {
    width: 90%;
}

.chat-message {
    background-color: aquamarine;
    font-size: 20px;
    line-height: 0.8;
    margin: 5px;
}

.chatInfo {
    font-weight: 600;
}

.chatMsg {
    font-size: 18px;
    position: relative;
    bottom: 5px;
}